.App
  text-align center
  padding-top 50px

.string-container, .fret-index
  width 95%
  max-width 1300px
  min-width 750px
  margin 0 auto
  display flex

.fret-index
  margin-top 15px
  height 40px
  padding-left 30px
  box-sizing border-box

  span
    flex 1
    color #cacaca
    font-size 13px

    &:first-child
      visibility hidden

.string-note
  width 20px
  color #cacaca
  line-height 40px
  margin-right 10px

.major
  font-family serif
  font-style italic
  display inline-flex
  height 50px
  font-size 32px
  color #9c9c9c

  sup
    margin-left 10px
    font-size 20px