.App
  text-align center
  padding-top 50px

.string-container, .fret-index
  width 80%
  margin 0 auto
  display flex

.fret-index
  margin-top 15px
  height 40px
  padding-left calc(30px + 4.65%)
  box-sizing border-box

  span
    flex 1
    color #cacaca
    font-size 13px

.string-note
  width 20px
  color #cacaca
  line-height 40px
  margin-right 10px

.major
  font-family serif
  font-style italic
  display inline-flex
  height 50px
  font-size 32px
  color #9c9c9c

  sup
    margin-left 5px